<ion-view view-title="Twitter service">
  <ion-content>
    <div class="service Twitter">
    	<div>
        <h1 class="title">Add Twitter<h1>
          <label for ="Tweet" class="item item-input item-stacked-label">
            <span class="input-label">Twitter account or username</span>
            <input type="text" id="Tweet" placeholder="Juanjo_Tara" ng-model="TweetModel">
          </label>
    		<!--<input type="Tweet" id="Tweet" >-->
    	</div>
		<button  class="button button-block button-calm" ng-click="onAddClick(TwitterModel);"> Add</button>
    </div>

  </ion-content>
</ion-view>
